@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  font-family: "Sono", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 5rem;
}

.navbar .links {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  min-width: 200px;
}

.navbar a {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar a:first-child:hover {
  color: rgb(40, 150, 90);
}

.navbar a:first-child:active {
  transform: scale(0.9);
}

.navbar a:last-child {
  background: rgb(40, 150, 90);
  color: rgb(255, 255, 255);
}

.navbar a:last-child:hover {
  background-color: rgb(37, 172, 98);
}

.navbar a:last-child:active {
  transform: scale(0.95);
}

.content {
  margin: auto;
  width: 70%;
  padding: 1rem;
}

.blog-preview {
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.blog-preview h2 {
  color: rgb(40, 150, 90);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.blog-details h2 {
  color: rgb(40, 150, 90);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-details p {
  color: gray;
  font-size: 1.2rem;
}

.blog-details div {
  margin-top: 2rem;
}

.create h2 {
  color: rgb(40, 150, 90);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.create form {
  display: flex;
  flex-direction: column;
}

.create label {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem;
}

.create [type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}

.create [type="text"]:focus {
  outline: 1px solid black;
}

.create textarea {
  padding: 0.5rem;
  height: 30vh;
  font-size: 1rem;
  border-radius: 10px;
}

.create textarea:focus {
  outline: 1px solid black;
}

.create select {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.create select:focus {
  outline: 1px solid black;
}

.create [type="submit"] {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: rgb(40, 150, 90);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 10px;
}

.create [type="submit"]:hover {
  background-color: rgb(37, 172, 98);
}
